@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

body {
    background-color: #ebeaea;
    font-family: 'Open Sans', sans-serif;
}

.main_container{
    width: 45%;
    height: 100%;
    margin: auto;
}

.logoContainer{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #C4C3C3;
    background-image: url("images/logo.jpeg");
    background-position: center;
    background-size: 650px;
    background-repeat: no-repeat ;
}

.nameContainer{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #C4C3C3;
    margin-top: 20px;
    background-color: white;
}

.titleContainer{
    width: 100%;
    height: 50px;
    background-color: #46555b;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    color: white;
    line-height: 15px;
}

.nameContainer p{
    display: inline-block;
}

.titleContainer p{
    padding-left: 15px;
    font-weight: bold;
    font-size: 20px;
}

#nameText{
    padding-left: 20px;
    font-size: 18px;
}
#abc{
    padding-left: 20px;
    width: 100%;
    border: none;
    outline: none;
   /* border-bottom: 1px solid rgb(246, 236, 236);*/ 
    
}
::placeholder{
    font-size: 16px;
}

.identity{
    width: 100%;
    height: 150px;
    border-radius: 10px;
    border: 1px solid #C4C3C3;
    margin-top: 20px;
    background-color: white;
}

.identity p{
    display: inline-block;
}

#rollNumberText{
    padding-left: 20px;  
    font-size: 18px;  
}

.year{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #C4C3C3;
    margin-top: 20px;
    background-color: white;
}

.year p {
    font-size: 18px;
    padding-left: 20px;
}

#yearForm{
    padding-left: 20px;
    font-size: 16px;
}

.rectangle{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    margin-top: 15px;
    
    display: flex;
}
.button{
    width: 100px;
    height: 40px;
    border: 1px solid #C4C3C3;
    background-color: white;
    border-radius: 10px;
    margin-top: 5px;
    text-align: center;
    line-height: 40px;
    
} 
.submit{
    width: 100px;
    height: 40px;
    border: 1px solid #C4C3C3;
    background-color: rgb(51, 49, 49);
    border-radius: 10px;
    margin-top: 5px;
    color: white;
    text-align: center;
    line-height: 40px;
}